body {
  display: flex;
  flex-direction: column;
  background-color: #ff0000;
}

header {
  color: #b3a125;
  text-align: center;
  background: #3b4cca;
}

article {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(165, 205, 208);
  border: black solid;
  text-align: start;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 12%;
}

hr {
  border: black solid;
  width: 100vw;
  margin-top: 15%;
  padding: 0;
}

button {
  padding: 20px;
}

.circle {
  background-color: rgb(14, 253, 237);
  border: rgb(237, 237, 238) solid;
  border-radius: 50%;
  width: 10vw;
  height: 5vh;
}

#red-circle {
  background-color: rgb(247, 13, 31);
  border: black solid;
  border-radius: 50%;
  width: 3vw;
  height: 1.5vh;
}

#yellow-circle {
  background-color: rgb(247, 255, 74);
  border: black solid;
  border-radius: 50%;
  width: 3vw;
  height: 1.5vh;
}

#green-circle {
  background-color: rgb(65, 247, 9);
  border: black solid;
  border-radius: 50%;
  width: 3vw;
  height: 1.5vh;
}

.pokemon {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 13px;
}

.fauxPad {
  background-color: black;
  padding: 0;
  height: 3vh;
  width: 5vw;
}

.bar {
  height: 1.3vh;
  width: 8vw;
  margin: 1%;
  margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 15%;
}

#input {
  font-size: 10px;
  text-align: start;
  color: rgb(0, 0, 0);
  background-color: rgb(71, 163, 85);
  border: black;
  border-radius: 5%;
  width: 33%;
  padding: 9%;
}

#sprite-display {
  height: 180px;
  width: 184px;
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  border: black solid thick;
  border-radius: 10%;
}

#text-display {
  height: 100px;
  width: 190px;
  background-color: rgb(71, 163, 85);
  border: black solid;
  border-width: 5px;
  margin: 10px;
}

#sprite {
  margin-left: 0px;
  width: 180px;
}

#id {
  margin-top: 10%;
  margin-bottom: 5px;
}

#name {
  margin-bottom: 5px;
}

#height {
  margin-bottom: 5px;
}

#yellow {
  margin-right: 30%;
  background-color: yellow;
}

#blue {
  background-color: blue;
}

::placeholder {
  color: black;
}

@media (min-width: 768px) {

  body {
    
  }

  .circle {
    background-color: rgb(14, 253, 237);
    border: rgb(237, 237, 238) solid;
    border-radius: 50%;
    width: 8vw;
    height: 8vh;
  }

  #red-circle {
    background-color: rgb(247, 13, 31);
    border: black solid;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vh;
  }

  #yellow-circle {
    background-color: rgb(247, 255, 74);
    border: black solid;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vh;
  }

  #green-circle {
    background-color: rgb(65, 247, 9);
    border: black solid;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vh;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .search-section {
    display: flex;
    flex-flow: column wrap;
    margin-left: 40px;
  }

  #input {
    font-size: 20px;
    text-align: start;
    color: rgb(0, 0, 0);
    background-color: rgb(71, 163, 85);
    border: black;
    border-radius: 5%;
    width: 230px;
    height: 70px;
    margin-top: 5px;
  }

  button {
    padding: 8px;
  }

  #sprite-display {
    height: 180px;
    width: 184px;
    background-color: rgb(252, 252, 252);
    margin-top: 20px;
    border: black solid thick;
    border-radius: 10%;
    margin-left: 120px;
    margin-bottom: 25px;
  }

  #text-display {
    text-align: justify;
    height: 180px;
    width: 190px;
    background-color: rgb(71, 163, 85);
    border: black solid;
    border-width: 5px;
    margin: 10px;
    margin-left: 100px;
  }
}
