body {
  display: flex;
  flex-direction: column;
  background-color: #ff0000;
  margin: 0px;
}

header {
  color: #b3a125;
  text-align: center;
  background: #3b4cca;
}

article {
  display: flex;
}

.circle {
  background-color: rgb(14, 253, 237);
  border: rgb(237, 237, 238) solid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#red-circle {
  background-color: rgb(247, 13, 31);
  border: black solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#yellow-circle {
  background-color: rgb(247, 255, 74);
  border: black solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#green-circle {
  background-color: rgb(65, 247, 9);
  border: black solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

hr {
  background-color: black;
  border: black solid 1px;
  width: 400px;
  height: 5px;
  margin-top: 1px;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(165, 205, 208);
  border: black solid;
  text-align: start;
}

#input {
  font-size: 10px;
  text-align: start;
  color: rgb(0, 0, 0);
  background-color: rgb(71, 163, 85);
  border: black;
  border-radius: 5%;
  width: 33%;
  padding: 9%;
}

::placeholder {
  color: black;
}

button {
  padding: 20px;
}

#sprite-display {
  height: 180px;
  width: 184px;
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  border: black solid thick;
  border-radius: 10%;
}

#sprite {
  margin-left: 0px;
  width: 180px;
}

#text-display {
  height: 100px;
  width: 190px;
  background-color: rgb(71, 163, 85);
  border: black solid;
  border-width: 5px;
  margin: 10px;
}

.pokemon {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 13px;
}

#id {
  margin-top: 10%;
  margin-bottom: 5px;
}

#name {
  margin-bottom: 5px;
}

#height {
  margin-bottom: 5px;
}



footer {
  display: flex;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
}

.bar {
  height: 10px;
  width: 30px;
  margin-top: 10px;
  margin-left: 80px;
  border-radius: 30%;
} 

.box-1 {
 display: flex;
 margin-bottom: 30px;
 margin-left: 120px;
}

#green {
  background-color: greenyellow;
}

#blue {
  background-color: blue;
}

.pad {
  margin-left: 200px;
  background: yellow;
  width: 160px;
  height: 80px;
}


@media (min-width: 768px) {


  main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box-div {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }

  .search-section {
    display: flex;
    flex-flow: column wrap;
    margin-left: 40px;
  }

  #input {
    font-size: 20px;
    text-align: start;
    color: rgb(0, 0, 0);
    background-color: rgb(71, 163, 85);
    border: black;
    border-radius: 5%;
    width: 230px;
    height: 70px;
    margin-top: 5px;
  }

  button {
    padding: 8px;
  }

  #sprite-display {
    height: 180px;
    width: 184px;
    background-color: rgb(252, 252, 252);
    margin-top: 20px;
    border: black solid thick;
    border-radius: 10%;
    margin-left: 120px;
    margin-bottom: 25px;
  }

  #text-display {
    text-align: justify;
    height: 100px;
    width: 190px;
    background-color: rgb(71, 163, 85);
    border: black solid;
    border-width: 5px;
    margin: 10px;
    margin-left: 100px;
  }
}
