body {
  display: flex;
  flex-direction: column;
  background-color: #ff0000;
  margin: 0px;
}

header {
  color: #b3a125;
  text-align: center;
  background: #3b4cca;
}

article {
  display: flex;
}

.circle {
  background-color: rgb(14, 253, 237);
  border: rgb(237, 237, 238) solid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#red-circle {
  background-color: rgb(247, 13, 31);
  border: black solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#yellow-circle {
  background-color: rgb(247, 255, 74);
  border: black solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

#green-circle {
  background-color: rgb(65, 247, 9);
  border: black solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

hr {
  background-color: black;
  border: black solid 1px;
  width: 400px;
  height: 5px;
  margin-top: 1px;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(165, 205, 208);
  border: black solid;
  text-align: start;
  width: 650px;
  align-self: center;

}

#input {
  font-size: 14px;
  text-align: start;
  color: rgb(0, 0, 0);
  background-color: rgb(71, 163, 85);
  border: black;
  border-radius: 5%;
  width: 120px;
  padding: 20px;
}

::placeholder {
  color: black;
}

button {
  padding: 20px;
}

#sprite-display {
  height: 180px;
  width: 184px;
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  border: black solid thick;
  border-radius: 10%;
}

#sprite {
  margin-left: 0px;
  width: 180px;
}

#text-display {
  height: 100px;
  width: 200px;
  background-color: rgb(71, 163, 85);
  border: black solid;
  border-width: 5px;
  margin: 10px;
}

.pokemon {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 13px;
}

#id {
  margin-top: 10%;
  margin-bottom: 5px;
}

#name, #height {
  margin-bottom: 5px;
}


footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.right {
  
  height: 150px;
  width: 190px;
}

.top {
  background: black;
  height: 30px;
  width: 20px;
  margin-left: 80px;
  margin-top: 100px;
}

.hor {
  background: black;
  height: 20px;
  width: 80px;
  margin-left: 50px;
  
}

.bottom{
  background: black;
  height: 30px;
  width: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.left {
 
  height: 150px;
  width: 250px;
  margin-right: 140px;
}

.blue {
  background: blue;
  height: 30px;
  width: 30px;
  border: solid black thin;
  border-radius: 50%;
  margin-left: 140px;
  margin-top: 120px;
}

.yellow {
  background: yellow; 
  height: 30px;
  width: 30px;
  border: solid black thin;
  border-radius: 50%;
  margin-left: 70px;
}

@media (min-width: 768px) {


  main {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
  }

  .box-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
  }

  .search-section {
    display: flex;
    flex-flow: column wrap;
    margin-left: 40px;
  }

  #input {
    font-size: 20px;
    text-align: start;
    color: rgb(0, 0, 0);
    background-color: rgb(71, 163, 85);
    border: black;
    border-radius: 5%;
    width: 230px;
    height: 70px;
    margin-top: 5px;
  }

  button {
    padding: 8px;
  }

  #sprite-display {
    height: 180px;
    width: 184px;
    background: rgb(252, 252, 252);
    margin-top: 20px;
    border: black solid thick;
    border-radius: 10%;
    margin-left: 120px;
    margin-bottom: 25px;
  }



  #text-display {
    text-align: justify;
    background-color: rgb(71, 163, 85);
    border: black solid;
    border-width: 5px;
    margin: 10px;
    margin-left: 100px;
  }
}

.right {
  /* margin-right: 250px; */
}
